*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* Static background image */
body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  background: linear-gradient(to right, #783db2, #f2379a, #fd8173);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Flex for nav */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Nav styling */
.nav {
  min-height: 7vh;
  min-width: 40rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 0 2rem;
}

.headline {
  letter-spacing: 1.5rem;
}

/* Headline gradiant */
.gradient {
  background: linear-gradient(to right, #783db2, #f2379a, #fd8173);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Flex for links in nav */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

.nav-links li {
  margin: 0;
  list-style: none;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}

.App {
  text-align: center;
}

/* Centered columns */
.board {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

/* Columns styling */
.column {
  height: 70rem;
  max-width: 26rem;
  min-width: 26rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  padding: 1em;
  margin: 0 0.5rem;
  border-radius: 20px;
}

.column-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-title > h2 {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

/* Styling for cards in columns */
.card {
  padding: 2em;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

/* Prevents text in cards from expanding outside it & wrapping to new row */
.card-title,
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trash-icon {
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 42px;
  cursor: pointer;
  display: none;
}

.card:hover .trash-icon {
  display: block;
}

/* Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

.modal-title > h2 {
  width: 8rem;
  height: 2rem;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

.modal-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-title {
  height: 50px;
  width: 500px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 10px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.task-text {
  height: 200px;
  width: 500px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  resize: none;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.task-title::placeholder,
.task-text::placeholder {
  font-size: 16px;
}

.task-title:focus,
.task-text:focus {
  outline: 2px solid #783db2;
  box-shadow: 0 0 0 3px #f2379a, 0 0 0 5px #fd8173;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-10%) translateX(-50%);
  font-size: 40px;
  float: right;
  cursor: pointer;
}

.close:hover {
  background-image: linear-gradient(to right, #783db2, #f2379a, #fd8173);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.modal-button {
  width: 120px;
  border-radius: 10px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.new-task-icon {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.new-task-icon svg {
  font-size: 35px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal-button:hover {
  background-image: linear-gradient(to right, #783db2, #f2379a, #fd8173);
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .nav-container {
    margin-top: 0.5rem;
  }

  .nav {
    height: 5.5rem;
    min-width: 20rem;
    padding: 0 14px;
  }

  .headline {
    letter-spacing: 0.75rem;
    font-size: 22px;
    margin-top: 0.5rem;
  }

  /* New gradient */
  .gradient {
    background: linear-gradient(to right, #f2379a, #783db2, #45c7a5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  li:hover {
    background: linear-gradient(to right, #f2379a, #783db2, #45c7a5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-links {
    margin-top: 0.5rem;
    font-size: 16px;
  }

  .nav-links li {
    margin: 0;
    padding: 0 20px;
  }

  /* Changed to column for mobile view */
  .board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  /* Less height & width */
  .column {
    height: 40rem;
    max-width: 22rem;
    min-width: 22rem;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .modal-content {
    width: 350px;
    height: 300px;
  }

  .modal-title > h2 {
    display: none;
  }

  .task-title {
    height: 50px;
    width: 270px;
  }

  .task-text {
    height: 170px;
    width: 270px;
    margin-bottom: 0.3rem;
  }

  .modal-button {
    width: 100px;
    height: 35px;
    margin-bottom: -0.1rem;
  }
}

/* iPad Air tablet size */
@media only screen and (min-width: 801px) and (max-width: 900px) {
  /* More room in nav */
  .nav-links {
    margin-top: -1rem;
    padding: 10px 0;
  }

  /* Less width */
  .column {
    max-width: 16rem;
    min-width: 16rem;
    height: 60rem;
  }
}

/* iPad Pro tablet size */
@media only screen and (min-width: 901px) and (max-width: 1250px) {
  .column {
    min-width: 18rem;
  }
}
