*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

/* Static background image */
body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* Flex for nav */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* Nav styling */
.nav {
  min-height: 7vh;
  min-width: 40rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 0 2rem;
}

.headline {
  letter-spacing: 1.5rem;
}

/* Headline gradiant */
.gradient {
  background: linear-gradient(to right, #783db2, #f2379a, #fd8173);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Flex for links in nav */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

.nav-links li {
  margin: 0;
  list-style: none;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}

li:hover {
  background: linear-gradient(to right, #783db2, #f2379a, #fd8173);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App {
  text-align: center;
}

/* Centered columns */
.board {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

/* Columns styling */
.column {
  height: 70rem;
  min-width: 26rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  padding: 1em;
  margin: 0 0.5rem;
  border-radius: 20px;
}

.column-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-title > h2 {
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

/* Styling for cards in columns */
.card {
  padding: 2em;
  margin: 10px 0 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .nav-container {
    margin-top: 0.5rem;
  }

  .nav {
    height: 5.5rem;
    min-width: 20rem;
    padding: 0 14px;
  }

  .headline {
    letter-spacing: 0.75rem;
    font-size: 22px;
    margin-top: 0.5rem;
  }

  /* New gradiant */
  .gradient {
    background: linear-gradient(to right, #f2379a, #783db2, #45c7a5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  li:hover {
    background: linear-gradient(to right, #f2379a, #783db2, #45c7a5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-links {
    margin-top: 0.5rem;
    font-size: 16px;
  }

  .nav-links li {
    margin: 0;
    padding: 0 20px;
  }

  /* Changed to column for mobile view */
  .board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  /* Less height & width */
  .column {
    height: 40rem;
    min-width: 22rem;
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

/* iPad Air tablet size */
@media only screen and (min-width: 801px) and (max-width: 900px) {
  /* More room in nav */
  .nav-links {
    margin-top: -1rem;
    padding: 10px 0;
  }

  /* Less width */
  .column {
    min-width: 16rem;
    height: 60rem;
  }
}

/* iPad Pro tablet size */
@media only screen and (min-width: 901px) and (max-width: 1250px) {
  .column {
    min-width: 18rem;
  }
}
