/* Toggle theme button */
.toggle-theme {
  position: absolute;
  top: 19px;
  right: 14px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}

/* --------Alternate theme-------- */
.column.theme {
  background-color: rgba(169, 15, 252, 0.3);
}

/* Highlight the column the card is dragged over */
.column.hover-over.theme {
  background-color: rgba(74, 205, 165, 0.3);
  border: 2px dashed #999;
}

.card.theme,
.card-modal-content.theme,
.card-task-title.theme,
.card-task-text.theme,
.card-modal-update-button.theme,
.card-modal-delete-button.theme,
.add-modal-content.theme,
.add-task-title.theme,
.add-task-text.theme,
.add-modal-button.theme {
  background-color: rgba(169, 15, 252, 0.3);
  color: rgb(216, 144, 255);
}

/* Modals buttons */
.card-modal-update-button.theme {
  border: none;
}

.card-modal-delete-button.theme {
  color: #f23737;
  border: none;
}

/* Card date & modals inputs */
.card-modal-date.theme,
.add-task-title.theme::placeholder,
.add-task-text.theme::placeholder {
  color: rgb(216, 144, 255);
}

.add-task-title.theme:active,
.add-task-text.theme:active {
  outline: 1px solid black;
}

/* Mobile style  */
@media only screen and (max-width: 800px) {
  .toggle-theme {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 36px;
  }

  .nav.theme {
    background-color: transparent;
  }
  .nav-link.theme {
    background-color: rgba(169, 15, 252, 0.3);
  }
}
